body {
  margin: 0;
  background: rgb(197, 145, 93);
  width: 100%;
  height: 100vh;
}

#eevee-left {
position: absolute;
left: 300px;
}
.eevee-left-ear {
  position: relative;
  top: 100px;
  left: 300px;
  height: 250px;
  width: 100px;
  transform: skewX(55deg);
  transform: skewY(60deg);
  background-color: rgb(99, 60, 21);
  border-radius: 5px 300px 100px 300px;
}
.hair1 {
  position: absolute;
  top: 360px;
  left: 390px;
  transform: rotate(-25deg);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid rgb(197, 145, 93);
}
.hair2 {
  position: absolute;
  top: 340px;
  left: 392px;
  transform: rotate(-15deg);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid rgb(197, 145, 93);
}
.hair3 {
  position: absolute;
  top: 378px;
  left: 393px;
  transform: rotate(-32deg);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid rgb(197, 145, 93);
}

#eevee-right {
  position: absolute;
  top: 300px;
  left: 1500px;
  transform: rotateY(180deg) rotate(-30deg);
  }
.eevee-right-ear {
  position: relative;
  top: 100px;
  left: 300px;
  height: 250px;
  width: 100px;
  transform: skewX(55deg);
  transform: skewY(60deg);
  background-color: rgb(99, 60, 21);
  border-radius: 5px 300px 100px 300px;
}
.hair4 {
  position: absolute;
  top: 360px;
  left: 390px;
  transform: rotate(-25deg);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid rgb(197, 145, 93);
}
.hair5 {
  position: absolute;
  top: 340px;
  left: 392px;
  transform: rotate(-15deg);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid rgb(197, 145, 93);
}
.hair6 {
  position: absolute;
  top: 378px;
  left: 393px;
  transform: rotate(-32deg);
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 50px solid rgb(197, 145, 93);
}

#eevee-head {
  position: absolute;
  top: 460px;
  left: 690px;
  background: rgb(197, 145, 93);
  height: 310px;
  width: 340px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 110px;
  border-top-left-radius: 100px;
  border-top-right-radius: 120px;
  transform: rotate(10deg) skewY(-2deg);
}

.eevee-mane {
  position: absolute;
  top: 600px;
  left: 650px;
  background: rgb(252, 243, 228);
  display: block;
  width: 320px;
  padding: 30px 20px 50px 20px;
  height: 300px;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  transform: rotate(130deg);
}

.mane-hair {
  position: absolute;
  top: 690px;
  left: 637px;
  width: 0;
  height: 0;
  border-top-left-radius: 10px;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-top: 120px solid rgb(252, 243, 228);
  transform: rotate(30deg);
}
.mane-hair2 {
  position: absolute;
  top: 690px;
  left: 640px;
  width: 0;
  height: 0;
  border-top-left-radius: 10px;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-top: 80px solid rgb(252, 243, 228);
  transform: rotate(40deg);
}
.mane-hair3 {
  position: absolute;
  top: 770px;
  left: 992px;
  width: 0;
  height: 0;
  border-top-right-radius: 10px;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-top: 80px solid rgb(252, 243, 228);
  transform: rotate(-10deg);
}
.mane-hair4 {
  position: absolute;
  top: 750px;
  left: 995px;
  width: 0;
  height: 0;
  border-top-right-radius: 10px;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-top: 80px solid rgb(252, 243, 228);
  transform: rotate(-20deg);
}
.mane-hair5 {
  position: absolute;
  top: 760px;
  left: 993px;
  width: 0;
  height: 0;
  border-top-right-radius: 10px;
  border-left: 20px solid transparent;
  border-right: 10px solid transparent;
  border-top: 80px solid rgb(252, 243, 228);
  transform: rotate(-15deg);
}
.mane-hair6 {
  position: absolute;
  top: 955px;
  left: 800px;
  width: 0;
  height: 0;
  border-top-left-radius: 10px;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-top: 80px solid rgb(252, 243, 228);
  transform: rotate(-30deg);
}
.mane-hair7 {
  position: absolute;
  top: 760px;
  left: 640px;
  width: 0;
  height: 0;
  border-top-left-radius: 10px;
  border-left: 10px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid rgb(252, 243, 228);
  transform: rotate(2deg);
}

#litten {
  background: black;
  width: 100%;
  display: block;
  height: 100vh;
}
#poliwag {

}
#poliwag {

}
#electrabuzz {

}
#jigglypuff {

}
#gastly {

}